# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: Polyphony
repo_url: https://github.com/polyphony-chat/polyproto
edit_uri: edit/main/docs/
extra_css:
  - stylesheets/extra.css
theme:
  name: material
  logo: assets/lines.png
  favicon: assets/lines.png
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand
    - toc.follow
    - navigation.top
    - search.suggest
    - content.tooltips
    - navigation.indexes 
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: deep purple
      accent: indigo
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: deep purple
      accent: indigo
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: deep purple
      accent: indigo
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
plugins:

  - blog:
      blog_toc: true
      post_readtime: true
      post_readtime_words_per_minute: 250
      archive_date_format: MMMM yyyy
  - rss:
      match_path: blog/posts/.*


      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags 

  - privacy
  - search
  - mkdocs-nav-weight
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - tables
  - pymdownx.betterem
  - pymdownx.highlight:
      anchor_linenums: true
      use_pygments: true
      pygments_lang_class: true
      auto_title: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
  - toc:
      permalink: true
      toc_depth: 4
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg