.request-h {
    font-size: 1em; 
    font-weight: normal;
}

.request {
    margin-right: 10px;
}

.request-get {
    color: #00BA00;
}

.request-post {
    color: #00e4e8;
}

.request-put {
    color: #0080ff;
}

.request-patch {
    color: #9500ba;
}

.request-delete {
    color: #ba0c00;
}

.group-h {
    font-weight: bold;
}