.request-h {
    font-size: 1em; 
    font-weight: normal;
}

.request {
    margin-right: 10px;
    font-weight: bold;
}

.request-get {
    color: #4ece4e;
}

.request-post {
    color: #4ee2c9;
}

.request-put {
    color: #4999e9;
}

.request-patch {
    color: #c857e4;
}

.request-delete {
    color: #e2544a;
}

.group-h {
    font-weight: bold;
}

h1, h2 {
    font-weight: 500 !important;
}

hr {
    padding-top: 2em;
}

h3 {
    padding-top: 1em;
}