.request-h {
    font-size: 1em; 
    font-weight: normal;
}

.request {
    margin-right: 10px;
    font-weight: bold;
}

.request-get {
    color: #00BA00;
}

.request-post {
    color: #00e4e8;
}

.request-put {
    color: #0080ff;
}

.request-patch {
    color: #9500ba;
}

.request-delete {
    color: #ba0c00;
}

.group-h {
    font-weight: bold;
}

h1, h2 {
    font-weight: 500 !important;
}

hr {
    padding-top: 2em;
}

h3 {
    padding-top: 1em;
}